{% extends 'estoque/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Trocar Senha{% endblock %}

{% block breadcrumb %}
  {% include 'estoque/includes/breadcrumb.html' %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-header bg-white py-3">
        <h5 class="mb-0"><i class="bi bi-key me-2"></i>Trocar Senha</h5>
      </div>
      <div class="card-body">
        {% crispy form %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
